html {
    padding: 0;
    margin: 0;
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.p-X {
    color: #496da9;
}

.p-O {
    color: #ff7e7e;
}

.hidden {
    display: none;
}

.qr-footer {
    position: fixed;
}

.layer {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.content {
    display: inline-grid;
    grid-gap: 0;
}

.content.finished {
    cursor: pointer;
}

.field {
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--theme-contrast);
    user-select: none;
    background-color: var(--theme-primary);
}

.field.empty:hover {
    background: #ccc;
    cursor: pointer;
}

.content.finished > .field:not(.win) {
    background: var(--theme-primary);
}

.field.win {
    background: #eaeaea !important;
}

.field > span {
    font-size: 50px;
}
